---
import { useSanityClient } from '@sanity/astro'
import { BlogPostsGroqQueryType, blogPostsGroqQuery, convertBlogPostToPost } from 'src/clients/sanity'
import PortableText from 'src/components/sanity/PortableText.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config/consts'
import Layout from 'src/layouts/Layout.astro'

export async function getBlogPosts() {
  const posts = await useSanityClient().fetch<BlogPostsGroqQueryType[]>(blogPostsGroqQuery)
  return convertBlogPostToPost(posts)
}

const posts = await getBlogPosts()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="flex flex-col mx-auto p-2 text-blue-50">
    {
      posts.map(({ heroImage, title, body, tags, slug }) => (
        <div>
          <img width={720} height={360} src={heroImage} alt={title} />
          <a href={slug}>
            <h4>{title}</h4>
          </a>
          <ul>
            {tags.map(({ slug, title }) => (
              <a href={slug}>{title}</a>
            ))}
          </ul>
          <PortableText portableText={body} />
        </div>
      ))
    }
  </section>
</Layout>
