---
import { FormattedDate } from 'src/components/react'
import FeaturedImage from 'src/components/sanity/FeaturedImage.astro'
import { useSanityClient } from '@sanity/astro'
import {
  type SanityPostsGroqQueryType,
  type SanityTagsGroqQueryType,
  convertSanityPostToPost,
  convertSanityTagToTag,
  sanityPostsGroqQuery,
  sanityTagsGroqQuery,
} from 'src/clients/sanity'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config/consts'
import Layout from 'src/layouts/Layout.astro'

export async function getBlogPosts() {
  const posts = await useSanityClient().fetch<SanityPostsGroqQueryType[]>(sanityPostsGroqQuery)
  return convertSanityPostToPost(posts)
}

export async function getBlogTags() {
  const tags = await useSanityClient().fetch<SanityTagsGroqQueryType[]>(sanityTagsGroqQuery)
  return convertSanityTagToTag(tags)
}

const posts = await getBlogPosts()

const tags = await getBlogTags()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="flex flex-col">
    <h1>Blog</h1>
    <div class="flex flex-col">
      <div>
        <input type="text" placeholder="Search blog" />
      </div>
      <div>
        <ul class="flex">
          {
            tags.map(({ slug, title }) => (
              <li class="p-2">
                <a href={slug}>#{title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 grid-flow-row gap-4 md:gap-8 py-24">
    {
      posts.map(({ heroImage, title, createdAt, slug, estimatedReadingTime }) => (
        <div class="flex flex-col">
          <div class="relative rounded-md overflow-hidden h-[208px]">
            {heroImage && <FeaturedImage class="max-h-52" width={360} height={240} asset={heroImage} alt={title} />}
          </div>
          <div class="flex flex-col md:flex-row text-primary mt-6">
            <div class="flex flex-col md:flex-row">
              <FormattedDate date={createdAt} />
              <span class="px-2">•</span>
              <h4>Reading time: {estimatedReadingTime} min</h4>
            </div>
          </div>
          <h3 class="text-3xl lg:text-4xl font-nunito font-semibold text-white py-8">
            <a href={slug}>{title}</a>
          </h3>
        </div>
      ))
    }
  </section>
</Layout>
