---
import { SITE_OWNER } from "../consts";
import { IconLink } from "./react";
import { faGithub, faCodepen } from "@fortawesome/free-brands-svg-icons";
import { faMugHot } from "@fortawesome/free-solid-svg-icons";

const today = new Date();
---

<footer class="flex items-center">
  <span class="flex flex-1 text-black">
    &copy; 2016-{today.getFullYear()}
    {SITE_OWNER}. All rights reserved.</span
  >
  <div class="flex">
    <IconLink
      href="https://paypal.me/stevissdev?country.x=RS&locale.x=en_US"
      target="_blank"
      label="Buy me a coffee!"
      icon={faMugHot}
    />
    <IconLink
      href="https://github.com/steviss"
      target="_blank"
      label="@steviss"
      icon={faGithub}
    />
    <IconLink
      href="https://codepen.io/steviss"
      target="_blank"
      label="@steviss"
      icon={faCodepen}
    />
  </div>
</footer>
