---
import { useSanityClient } from '@sanity/astro'
import { SanityTagsGroqQueryType, convertSanityTagToTag, sanityTagsGroqQuery } from 'src/clients/sanity'
import BlogPostLayout from 'src/layouts/BlogPostLayout.astro'
import type { TagType } from 'src/types'

type Props = TagType

export async function getStaticPaths() {
  const tags = await useSanityClient().fetch<SanityTagsGroqQueryType[]>(sanityTagsGroqQuery)
  const tagsTyped = convertSanityTagToTag(tags, false)
  return tagsTyped.map((tag) => {
    return {
      params: {
        slug: tag.slug,
      },
      props: { ...tag },
    }
  })
}

const { title, description, posts, createdAt, updatedAt } = Astro.props
---

<BlogPostLayout title={title} description={description} createdAt={createdAt} updatedAt={updatedAt}>
  <p>{description}</p>
  {
    posts.map(({ title, createdAt }) => (
      <article>
        <>
          <h4>{title}</h4>
          <p>{createdAt.toString()}</p>
          <span />
        </>
      </article>
    ))
  }
</BlogPostLayout>
