---
import { useSanityClient } from '@sanity/astro'
import { blogTagsGroqQuery } from 'src/clients/sanity'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config/consts'
import Layout from 'src/layouts/Layout.astro'
import type { TagType } from 'src/types'

export interface BlogTagsGroqQuery {
  _id: string
  _updatedAt: Date
  title: string
  description: string
  _createdAt: string
  _type: 'tag'
  slug: string
}

export async function getBlogTags() {
  const posts = await useSanityClient().fetch<BlogTagsGroqQuery[]>(blogTagsGroqQuery)
  return posts.map(({ title, slug, _createdAt, _updatedAt, description }) => ({
    title,
    slug: `tag/${slug}`,
    description,
    createdAt: _createdAt,
    updatedAt: _updatedAt,
  })) as unknown as TagType[]
}

const posts = await getBlogTags()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="flex flex-col mx-auto p-2 text-blue-50">
    {
      posts.map(({ description, title, slug }) => (
        <div>
          <h4>{title}</h4>
          <p>{description}</p>
          <a href={slug}>Link</a>
        </div>
      ))
    }
  </section>
</Layout>
