---
import Layout from './Layout.astro'
import { FormattedDate } from 'src/components/react'

type Props = {
  title: string
  description: string
  createdAt: Date
  updatedAt: Date
  heroImage?: string
}

const { title, description, createdAt, updatedAt, heroImage } = Astro.props
---

<Layout title={title} description={description}>
  <article class="prose md:prose-lg lg:prose-xl max-w-none">
    {heroImage && <img width={720} height={360} src={heroImage} alt={description} />}
    <h1>{title}</h1>
    <FormattedDate date={createdAt} />
    {
      updatedAt && (
        <div class="italic">
          Last updated on <FormattedDate date={updatedAt} />
        </div>
      )
    }
    <pre>{JSON.stringify({ title, description, createdAt, updatedAt, heroImage})}</pre>
    <hr class="border-top border-t-gray-400" />
    <slot />
  </article>
</Layout>
