---
import { FormattedDate } from "../components/react";
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
  <article class="prose md:prose-lg lg:prose-xl max-w-none">
    {
      heroImage && (
        <img width={720} height={360} src={heroImage} alt={description} />
      )
    }
    <h1>{title}</h1>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="italic">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr class="border-top border-t-gray-400" />
    <slot />
  </article>
</Layout>
